<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    #app * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    #app {

      padding: 3px;
      position: fixed;
      bottom: 20px;
      width: 80%;
    }

    #app input {
      border: 1;
      padding: 10px;
      width: 90%;
      margin-right: .5%;
    }

    #app button {
      width: 9%;
      background: rgb(130, 0, 0);
      color: white;
      border: none;
      padding: 10px;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }
  </style>
</head>

<body>
  <div id="app">
    <ul id="messages">
      <li v-for="msg in messages">
        {{ msg }}
      </li>
    </ul>


    <input v-model="msg" v-on:keyup.enter="sendMessage" />
    <button v-on:click="sendMessage">Send</button>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
  <script>
    var socket = io();
    var msgs = [];
    socket.on('join', function (msg) {
      console.log('join event');
      msgs.forEach(function (m) {
        msgs.push(m);
      });
    });

    socket.on('message', function (msg) {
      console.log('message event');
      console.log(msg);
      msgs.push(msg);
    });

    var app = new Vue({
      el: "#app",
      data: {
        msg: "",
        messages: msgs
      },
      methods: {
        sendMessage: function () {
          if (this.msg.trim()) {
            socket.emit('message', this.msg);
            console.log('Emit: message - ' + this.msg);
          }
          this.msg = '';
          return false;
        }
      }
    });
  </script>
</body>

</html>